@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #bf0829;
    overflow: hidden;

}

.container1 p{
    color: #fff;
}

.container1{
    color: white;
    
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 20px;
}



.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.col-2 h1{
    font-family: 'Playfair Display SC', serif;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
    

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: 40px;
    
    
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #ffffff;
}

.btn{
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #bf0829;
    margin-top: 20px;
    padding: 10px;
    border: 4px solid #ffffff !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  
}

.btn:hover{
    color:#bf0829  !important;
    background: #ffffff;
    border-color: #bf0829 !important;
    transition: all 0.4s ease 0s;
}

.btn2{
    text-decoration: none;
    color: white;
}
.btn2:hover{
    color:#bf0829  !important;
    background: #ffffff;
    border-color: #bf0829 !important;
    transition: all 0.4s ease 0s;
}

@media only screen  and (max-width:720px){

    .col-2{
        margin-top: 70px;
    }

    .col-2 img{
        padding: 0px 0px;
        margin-top: -90px;
        margin-left: -20px;
    }


}