  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 136, 0.5);

}

.container1 p{
    color: #000000;
}

.container1{
    color: white;
    
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 20px;
}



.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
    

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    margin-left: 120px;
    
    
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #000000;
}

.btn{
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(255, 136, 0.5);
    margin-top: 20px;
    padding: 10px;
    border: 4px solid #000000 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  
}

.btn:hover{
    color:rgb(255, 136, 0.5)  !important;
    background: #000000;
    border-color: rgb(255, 136, 0.5) !important;
    transition: all 0.4s ease 0s;
}