

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	background: #bf0829;
	width: 100%;
	height: 100vh;
}

.outer {
	position: relative;
	background-color: #dfb3bb;
	height: 500px;
	width: 1000px;
	overflow: hidden;
	display: flex;
	align-items: center;
	border-radius: 10px;

}

.proimg img {
	position: absolute;
    top: -50px;
    margin-left: 500px;
    height: 500px;
    width: 400px;
	z-index: 0;
    animation-delay: 0.5s;
    transform: rotate(-25deg);
}

.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3
	
}

.content h1 {
    color: #111;
    margin-top: 10px;
}

.content p {
	width: 400px;
	font-size: 20px;
	line-height: 1.4;
	color: #000000;
	margin: 20px 0;
	
}

.bg {
	display: inline-block;
	color: #fff;
	background: #bf0829;
	padding: 5px 10px;
	border-radius: 50px;
    font-size: 15px;
    
}
.button {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
	
	
	
}

.button button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	color: #111;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
	
	
}

.button button:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: #111;
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button button:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button button:hover {
	color: #fff;
	background-color: #000000;
	transition: all 0.5s ease;
}
.button button:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button button:nth-of-type(2) {
	border-radius: 0px 50px 50px 0;
}

.cart-btn i {
	padding-right: 8px;
	margin: auto;
	align-items: center;
	
}


